# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/

*.venv/
pip-wheel-metadata/

# Packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Logs & Cache
*.log
*.pot
*.mo
*.cache/
*.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.env